

  

  
<div class="row mt-5">
  <div class="col-md-6 mx-auto">
    <div class="card text-center">
      
      <div class="card-body">
        <h4 class="card-title">Login</h4>
        <div class="card-text">

            <div class="form-group">
                <label for="email">email</label>
                <input [(ngModel)]="email" type="text" name="email" id="email" class="form-control">
              </div>
            
              <div class="form-group">
                  <label for="password">password</label>
                  <input [(ngModel)]="password" type="password" name="password" id="password" class="form-control">
                  
                </div>

                <button (click)="login()" class="btn btn-danger btn-block"><i class="fa fa-lock"></i> Login</button>
        </div>
      </div>
    </div>
  </div>
</div>

    